/.idea/
cinema_backend/target/
cinema_backend/.mvn/wrapper/maven-wrapper.jar
cinema_backend/.env
cinema_backend/.DS_Store
cinema_backend/.classpath
cinema_backend/.project
cinema_backend/.settings/
cinema_backend/.factorypath

cinema-frontend/node_modules/
cinema-frontend/.next/
cinema-frontend/out/
cinema-frontend/.env
cinema-frontend/.env.*
cinema-frontend/npm-debug.log*
cinema-frontend/yarn-error.log*

.DS_Store
Thumbs.db
.idea/
*.iml
*.iws
*.ipr

cinema_backend/src/main/resources/application.properties
.vscode/
cinema-frontend/package-lock.json
